# Ascensor.js

<%= description %> ([homepage](http://kirkas.ch/ascensor))

## Getting Started
Download the [production version][min] or the [development version][max].

[max]: https://raw.github.com/kirkas/Ascensor.js/master/dist/jquery.ascensor.js
[min]: https://raw.github.com/kirkas/Ascensor.js/master/dist/jquery.ascensor.min.js

In your web page:

```html
<div id="ascensor">
	<div>Content 1</div>
	<div>Content 2</div>
	<div>Content 3</div>
	<div>Content 4</div>
	<div>Content 5</div>
	<div>Content 6</div>  
	<div>Content 7</div>
</div>

<script src="jquery.js"></script>
<script src="jquery.ascensor.js"></script>
<script>
	$('#ascensor').ascensor();
</script>
```
## Documentation

### Options

<% for (var i=0;i<params.parameters.length;i++){ %>
#### <%= params.parameters[i].name %>
- Type: '<%= params.parameters[i].type %>'
- Default: '<%= params.parameters[i].default %>'
- descriptions: <%= params.parameters[i].description %>
- example: ```<%= params.parameters[i].example %>```
<% } %>

### CSS
<% for (var i=0;i<params.css.length;i++){ %>
<%= params.css[i].description %>

example: ```<%- params.css[i].example %>```
<% } %>



## Examples
https://github.com/kirkas/Ascensor.js/tree/master/examples

## Website using ascensor
<% for (var i=0;i<params.website.length;i++){ %>
- [<%= params.website[i].name %>](<%= params.website[i].url %>)<% } %>

## Contribution

You want help? great!
For my workflow, I use [grunt.js](http://gruntjs.com/) (require node & npm installed)

1. Fork it
2. Create your feature branch (git checkout -b my-new-feature)
3. In terminal, type "npm install" to install dependencies
4. Add your change/fix
5. Check the code using "grunt jshint" (in terminal)
6. Make sure all "examples" behavior is correct 
7. minify/beautify the code using "grunt build" (in terminal)
8. Commit your change (only if "grunt build" return no error)
9. Push to the branch (git push origin my-new-feature)
10. Create new Pull Request